h1 {
    color: blue;
    text-align: center;
}

.header {
    background-color: rgb(226, 223, 43);
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p {
    text-align: center;
    color: rgb(230, 21, 195);
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    color: rgb(117, 168, 216);
}

.footer {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: burlywood;
}